$font-size: 20px;
$button-background-color: rgb(89, 113, 203);
$button-font-color: rgb(108, 79, 144);
$text-font-color: rgb(8, 10, 8);

.hello-world-button {
  font-size: $font-size;
  padding: 7px 15px;
  background: $button-background-color;
  color: $button-font-color;
  outline: none;
}

.hello_world_test {
  color: $text-font-color;
  font-weight: bold;
}
